body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: beige;
  min-width: 400px;
  min-height: 300px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square-container {
  padding-top: 100%
}

.square {
  background: wheat;
  border: 4px solid darkslategray;
  float: left;
  font-size: 13vmin;
  font-weight: bold;
  color: mediumblue;
  line-height: 34px;
  height: 12vmax;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 12vmax;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 100px;
}

.button {
  background-color: #4CAF50;
  border: 2px solid black;
  margin-top: 10px;
  margin-left: -60px;
  height: 5vh;
  width: 20vw;
  color: white;
  text-align: center;
  font-size: 1.5vmax;
  border-radius: 12px;
  transition-duration: 0.25s;
}

.button:hover {
  background-color: white;
  color: black;
}

.button-reset {
  margin-top: 100px;
  margin-left: 250px;
  height: 60px;
  width: 250px;
  font-size: 30px;
}

.status-font {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 5vmax;
  font-weight: bold;
  margin-bottom: 30px;
}